In [ ]:
# Import the pandas and numpy libraries in the IDLE and import the dataset in the IDLE.
import pandas as pd
import numpy as np
df = pd.read_excel("Data_Scientist_Salary.xlsx")

In [ ]:
#The columns in the data set were included in the data, but the title was not visible. We tried to fix this situation in this code.
df.columns = df.iloc[1]
df = df[2:]
df.reset_index(drop=True, inplace=True)
print(df)

1   Year# Month# ##Experience //**Education       LOCATION COMPANY_SIZE  \
0    2017      1            5         Ph.D.  New York City        Large
1    2017      2            3      Master's    Los Angeles        Small
2    2017      3            7    Bachelor's  San Francisco       Medium
3    2017      4            6         Ph.D.        Chicago       Medium
4    2017      5            8      Master's  New York City        Small
..    ...    ...          ...           ...            ...          ...
139  2022      8           14    Bachelor's        Chicago       Medium
140  2022      9           13      Master's  New York City       Medium
141  2022     10           10         Ph.D.    Los Angeles        Small
142  2022     11           11    Bachelor's  San Francisco       Medium
143  2022     12           15      Master's        Chicago        Small

1                 Job_Position Work_Condition Programming_Languages  \
0    Machine Learning Engineer         Remote                Python
1            Applied Scientist         Office                Python
2                Data Engineer         Hybrid                Python
3               Data Scientist         Remote                Python
4               Data Scientist         Office                Python
..                         ...            ...                   ...
139          Applied Scientist         Remote                     R
140             Data Scientist         Hybrid              "Python"
141             Data Scientist         Office                Python
142  Machine Learning Engineer         REMOTE                Python
143             Data Scientist         Hybrid                Python

1   Machine_Learning_Libraries AGE OF DATA SCIENTIST  \
0                   TensorFlow                    30
1                      PyTorch                    28
2                 Scikit-Learn                    32
3                   TensorFlow                    34
4                 Scikit-Learn                    36
..                         ...                   ...
139               Scikit_Learn                    32
140                 Tensorflow                    36
141               Scikit-Learn                    33
142                    Pytorch                    34
143               Scikit-Learn                    37

1   the total number of work hours per week MONTHLY SALARY
0                                        45         135000
1                                        40         115000
2                                        48         128000
3                                        42         125000
4                                        45         140000
..                                      ...            ...
139                                      45         148000
140                                      42         160000
141                                      50         158000
142                                      42         152000
143                                      40         180000

[144 rows x 13 columns]

In [ ]:
#This code aims to clean and standardize the column names in the DataFrame by removing whitespaces, underscores, and converting them to lowercase.
df.columns = df.columns.str.strip().str.replace('_', '').str.lower()

In [ ]:
#This code aims to clean and modify the column names by removing specified characters ('/', '*', and '#') from both ends of each column name in the DataFrame.
df.columns = df.columns.str.strip('/*#')

In [ ]:
# This code aims to rename and modify all the column names in the dataset.
df.rename(columns={"companysize":"company_size"},inplace = True)
df.rename(columns={"jobposition":"job_position"},inplace = True)
df.rename(columns={"workcondition":"work_condition"},inplace = True)
df.rename(columns={"programminglanguages":"programming_languages"},inplace = True)
df.rename(columns={"machinelearninglibraries":"machine_learning_libraries"},inplace = True)
df.rename(columns={"age of data scientist":"age_of_data_scientist"},inplace = True)
df.rename(columns={"the total number of work hours per week":"the_total_number_of_work_hours_per_week"},inplace = True)
df.rename(columns={"monthly salary":"monthly_salary"},inplace = True)

In [ ]:
#In this code snippet, each variable has been assigned its appropriate data type. Furthermore, the 'year' and 'month' columns have been combined to transform into a datetime column.
df['experience'] = pd.to_numeric(df['experience'], errors='coerce')
df['age_of_data_scientist'] = pd.to_numeric(df['age_of_data_scientist'], errors='coerce')
df['the_total_number_of_work_hours_per_week'] = pd.to_numeric(df['the_total_number_of_work_hours_per_week'], errors='coerce')
df['monthly_salary'] = pd.to_numeric(df['monthly_salary'], errors='coerce')
df['date'] = pd.to_datetime(df['year'].astype(str) + '-' + df['month'].astype(str), format='%Y-%m', errors='coerce')
df = df.drop(['year', 'month'], axis=1)
print(df.info())

1    experience   education       location company_size  \
0           5.0       Ph.D.  New York City        Large
1           3.0    Master's    Los Angeles        Small
2           7.0  Bachelor's  San Francisco       Medium
3           6.0       Ph.D.        Chicago       Medium
4           8.0    Master's  New York City        Small
..          ...         ...            ...          ...
139        14.0  Bachelor's        Chicago       Medium
140        13.0    Master's  New York City       Medium
141        10.0       Ph.D.    Los Angeles        Small
142        11.0  Bachelor's  San Francisco       Medium
143        15.0    Master's        Chicago        Small

1                 job_position work_condition programming_languages  \
0    Machine Learning Engineer         Remote                Python
1            Applied Scientist         Office                Python
2                Data Engineer         Hybrid                Python
3               Data Scientist         Remote                Python
4               Data Scientist         Office                Python
..                         ...            ...                   ...
139          Applied Scientist         Remote                     R
140             Data Scientist         Hybrid              "Python"
141             Data Scientist         Office                Python
142  Machine Learning Engineer         REMOTE                Python
143             Data Scientist         Hybrid                Python

1   machine_learning_libraries  age_of_data_scientist  \
0                   TensorFlow                   30.0
1                      PyTorch                   28.0
2                 Scikit-Learn                   32.0
3                   TensorFlow                   34.0
4                 Scikit-Learn                   36.0
..                         ...                    ...
139               Scikit_Learn                   32.0
140                 Tensorflow                   36.0
141               Scikit-Learn                   33.0
142                    Pytorch                   34.0
143               Scikit-Learn                   37.0

1    the_total_number_of_work_hours_per_week  monthly_salary       date
0                                       45.0        135000.0 2017-01-01
1                                       40.0        115000.0 2017-02-01
2                                       48.0        128000.0 2017-03-01
3                                       42.0        125000.0 2017-04-01
4                                       45.0        140000.0 2017-05-01
..                                       ...             ...        ...
139                                     45.0        148000.0 2022-08-01
140                                     42.0        160000.0 2022-09-01
141                                     50.0        158000.0 2022-10-01
142                                     42.0        152000.0 2022-11-01
143                                     40.0        180000.0 2022-12-01

[144 rows x 12 columns]

In [ ]:
#The presence of NA values has been observed.
print(df.isnull().sum())

1
experience                                 2
education                                  1
location                                   0
company_size                               0
job_position                               0
work_condition                             0
programming_languages                      1
machine_learning_libraries                 0
age_of_data_scientist                      1
the_total_number_of_work_hours_per_week    3
monthly_salary                             3
date                                       0
dtype: int64

In [ ]:
#The 'education' column was observed and it was determined that more than one value was the same but written differently.
#This situation has been corrected with the following codes. Replace() and loc() functions were used.
df['education'] = df['education'].str.replace(" ","",regex=True)
df['education'].loc[df['education'] == 'Ph.D'] = 'Ph.D.'
df['education'].loc[df['education'] == 'Bachelors'] = "Bachelor's"
df['education'].value_counts()

<ipython-input-8-e55777352386>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['education'].loc[df['education'] == 'Ph.D'] = 'Ph.D.'
<ipython-input-8-e55777352386>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['education'].loc[df['education'] == 'Bachelors'] = "Bachelor's"

Ph.D.         48
Bachelor's    48
Master's      47
Name: education, dtype: int64

In [ ]:
#The 'location' column was observed and it was determined that more than one value was the same but written differently.
#This situation has been corrected with the following codes. Title function was used to capitalized the first letter of each word.
df['location'] = df['location'].str.title()
df['location'].value_counts()

New York City    36
Los Angeles      36
San Francisco    36
Chicago          36
Name: location, dtype: int64

In [ ]:
#The 'company_size' column was observed and it was determined that more than one value was the same but written differently.
#This situation has been corrected with the following codes. Title function was used to capitalized the first letter of each word.
#Loc function was used to change all of the wrong values in company_size column.
df['company_size'] = df['company_size'].str.title()
df['company_size'].loc[df['company_size'] == ' Small'] = 'Small'
df['company_size'].loc[df['company_size'] == ' Medium'] = 'Medium'
df['company_size'].value_counts()

<ipython-input-10-8f6465eccd1c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['company_size'].loc[df['company_size'] == ' Small'] = 'Small'
<ipython-input-10-8f6465eccd1c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['company_size'].loc[df['company_size'] == ' Medium'] = 'Medium'

Medium    64
Large     40
Small     40
Name: company_size, dtype: int64

In [ ]:
#The 'programming_languages' column was observed and it was determined that more than one value was the same but written differently.
#This situation has been corrected with the following codes. Using the replace function, some signs in the data were replaced with the desired signs.
df['programming_languages'] = df['programming_languages'].str.replace('""','',regex=True)
df['programming_languages'] = df['programming_languages'].str.replace(' ','',regex=True)
df['programming_languages'] = df['programming_languages'].str.replace('"', '')
df['programming_languages'].value_counts()

Python    109
R          34
Name: programming_languages, dtype: int64

In [ ]:
# The 'work_condition' column was observed and it was determined that more than one value was the same but written differently.
# Loc function was used to change all of the wrong values in work_condition column.
df['work_condition'].loc[df['work_condition'] == 'OFFICE'] = 'Office'
df['work_condition'].loc[df['work_condition'] == ' HYBRID'] = 'Hybrid'
df['work_condition'].loc[df['work_condition'] == 'HYBRID'] = 'Hybrid'
df['work_condition'].loc[df['work_condition'] == ' Hybrid'] = 'Hybrid'
df['work_condition'].loc[df['work_condition'] == 'remote'] = 'Remote'
df['work_condition'].loc[df['work_condition'] == ' Remote'] = 'Remote'
df['work_condition'].loc[df['work_condition'] == 'REMOTE'] = 'Remote'
df['work_condition'].value_counts()

<ipython-input-12-72fa9407bdfc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['work_condition'].loc[df['work_condition'] == 'OFFICE'] = 'Office'
<ipython-input-12-72fa9407bdfc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['work_condition'].loc[df['work_condition'] == ' HYBRID'] = 'Hybrid'
<ipython-input-12-72fa9407bdfc>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['work_condition'].loc[df['work_condition'] == 'HYBRID'] = 'Hybrid'
<ipython-input-12-72fa9407bdfc>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['work_condition'].loc[df['work_condition'] == ' Hybrid'] = 'Hybrid'
<ipython-input-12-72fa9407bdfc>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['work_condition'].loc[df['work_condition'] == 'remote'] = 'Remote'
<ipython-input-12-72fa9407bdfc>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['work_condition'].loc[df['work_condition'] == ' Remote'] = 'Remote'
<ipython-input-12-72fa9407bdfc>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['work_condition'].loc[df['work_condition'] == 'REMOTE'] = 'Remote'

Remote    48
Office    48
Hybrid    48
Name: work_condition, dtype: int64

In [ ]:
# The 'job_position' column was observed and it was determined that more than one value was the same but written differently.
# Loc function was used to change all of the wrong values in job_position column.
# Using the replace function, some signs in the data were replaced with the desired signs.
df['job_position'] = df['job_position'].str.replace('"', '')
df['job_position'] = df['job_position'].str.replace('_', '')
df['job_position'].loc[df['job_position'] == 'DataScientist'] = 'Data Scientist'
df['job_position'].loc[df['job_position'] == 'MachineLearningEngineer'] = 'Machine Learning Engineer'
df['job_position'].loc[df['job_position'] == ' Applied Scientist'] = 'Applied Scientist'
df['job_position'].value_counts()

<ipython-input-13-4d7cc30fbbc4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['job_position'].loc[df['job_position'] == 'DataScientist'] = 'Data Scientist'
<ipython-input-13-4d7cc30fbbc4>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['job_position'].loc[df['job_position'] == 'MachineLearningEngineer'] = 'Machine Learning Engineer'
<ipython-input-13-4d7cc30fbbc4>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['job_position'].loc[df['job_position'] == ' Applied Scientist'] = 'Applied Scientist'

Data Scientist               60
Machine Learning Engineer    36
Applied Scientist            24
Data Engineer                24
Name: job_position, dtype: int64

In [ ]:
# The 'machine_learning_libraries' column was observed and it was determined that more than one value was the same but written differently.
# Loc function was used to change all of the wrong written values in job_position column.
df['machine_learning_libraries'].loc[df['machine_learning_libraries'] == 'Pytorch'] = 'PyTorch'
df['machine_learning_libraries'].loc[df['machine_learning_libraries'] == 'Scikit_Learn'] = 'Scikit-Learn'
df['machine_learning_libraries'].loc[df['machine_learning_libraries'] == 'Tensorflow'] = 'TensorFlow'
df['machine_learning_libraries'].value_counts()

<ipython-input-14-c771fd00ed46>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['machine_learning_libraries'].loc[df['machine_learning_libraries'] == 'Pytorch'] = 'PyTorch'
<ipython-input-14-c771fd00ed46>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['machine_learning_libraries'].loc[df['machine_learning_libraries'] == 'Scikit_Learn'] = 'Scikit-Learn'
<ipython-input-14-c771fd00ed46>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['machine_learning_libraries'].loc[df['machine_learning_libraries'] == 'Tensorflow'] = 'TensorFlow'

Scikit-Learn    82
TensorFlow      36
PyTorch         26
Name: machine_learning_libraries, dtype: int64

In [ ]:
#This code was used to determine and sum duplicated values.
df.duplicated().sum()

0

In [ ]:
#All the duplicates in this dataset was dropped.
df = df.drop_duplicates()

In [ ]:
print(df.describe())

1  experience   education       location company_size  \
0         5.0       Ph.D.  New York City        Large
1         3.0    Master's    Los Angeles        Small
2         7.0  Bachelor's  San Francisco       Medium
3         6.0       Ph.D.        Chicago       Medium
4         8.0    Master's  New York City        Small

1               job_position work_condition programming_languages  \
0  Machine Learning Engineer         Remote                Python
1          Applied Scientist         Office                Python
2              Data Engineer         Hybrid                Python
3             Data Scientist         Remote                Python
4             Data Scientist         Office                Python

1 machine_learning_libraries  age_of_data_scientist  \
0                 TensorFlow                   30.0
1                    PyTorch                   28.0
2               Scikit-Learn                   32.0
3                 TensorFlow                   34.0
4               Scikit-Learn                   36.0

1  the_total_number_of_work_hours_per_week  monthly_salary       date
0                                     45.0        135000.0 2017-01-01
1                                     40.0        115000.0 2017-02-01
2                                     48.0        128000.0 2017-03-01
3                                     42.0        125000.0 2017-04-01
4                                     45.0        140000.0 2017-05-01

In [ ]:
#In this code, we created descriptive_stats variable to describe and observe the values in dataset.
#Then it was determined a mistake in age_of_data_scienctist that consist of negative values.
#The problem was solved by using .abs() function.
descriptive_stats = df.describe()
print(descriptive_stats)
df['age_of_data_scientist'] = df['age_of_data_scientist'].abs()

In [ ]:
print(df.head())

1  experience   education       location company_size  \
0         5.0       Ph.D.  New York City        Large
1         3.0    Master's    Los Angeles        Small
2         7.0  Bachelor's  San Francisco       Medium
3         6.0       Ph.D.        Chicago       Medium
4         8.0    Master's  New York City        Small

1               job_position work_condition programming_languages  \
0  Machine Learning Engineer         Remote                Python
1          Applied Scientist         Office                Python
2              Data Engineer         Hybrid                Python
3             Data Scientist         Remote                Python
4             Data Scientist         Office                Python

1 machine_learning_libraries  age_of_data_scientist  \
0                 TensorFlow                   30.0
1                    PyTorch                   28.0
2               Scikit-Learn                   32.0
3                 TensorFlow                   34.0
4               Scikit-Learn                   36.0

1  the_total_number_of_work_hours_per_week  monthly_salary       date
0                                     45.0        135000.0 2017-01-01
1                                     40.0        115000.0 2017-02-01
2                                     48.0        128000.0 2017-03-01
3                                     42.0        125000.0 2017-04-01
4                                     45.0        140000.0 2017-05-01

In [ ]:
#The following 4 codes in order to find outliers in these numerical variables for each column.
Q1_Experience = df.experience.quantile(0.25)
Q3_Experience = df.experience.quantile(0.75)
IQR_Experience = Q3_Experience -Q1_Experience
Lower_Limit_Experience = Q1_Experience - 1.5*IQR_Experience
Upper_Limit_Experience = Q3_Experience + 1.5*IQR_Experience
Lower_Limit_Experience, Upper_Limit_Experience

(-1.875, 17.125)

In [ ]:
Q1_age_of_data_scientist = df.age_of_data_scientist.quantile(0.25)
Q3_age_of_data_scientist = df.age_of_data_scientist.quantile(0.75)
IQR_age_of_data_scientist = Q3_age_of_data_scientist - Q1_age_of_data_scientist
Lower_Limit_age_of_data_scientist = Q1_age_of_data_scientist - 1.5*IQR_age_of_data_scientist
Upper_Limit_age_of_data_scientist = Q3_age_of_data_scientist + 1.5*IQR_age_of_data_scientist
Lower_Limit_age_of_data_scientist, Upper_Limit_age_of_data_scientist

(25.0, 41.0)

In [ ]:
Q1_the_total_number_of_work_hours_per_week = df.the_total_number_of_work_hours_per_week.quantile(0.25)
Q3_the_total_number_of_work_hours_per_week = df.the_total_number_of_work_hours_per_week.quantile(0.75)
IQR_the_total_number_of_work_hours_per_week = Q3_the_total_number_of_work_hours_per_week -Q1_the_total_number_of_work_hours_per_week
Lower_Limit_the_total_number_of_work_hours_per_week = Q1_the_total_number_of_work_hours_per_week - 1.5*IQR_the_total_number_of_work_hours_per_week
Upper_Limit_the_total_number_of_work_hours_per_week = Q3_the_total_number_of_work_hours_per_week + 1.5*IQR_the_total_number_of_work_hours_per_week
Lower_Limit_the_total_number_of_work_hours_per_week, Upper_Limit_the_total_number_of_work_hours_per_week

(32.5, 52.5)

In [ ]:
Q1_MonthlySalary = df.monthly_salary.quantile(0.25)
Q3_MonthlySalary = df.monthly_salary.quantile(0.75)
IQR_MonthlySalary = Q3_MonthlySalary -Q1_MonthlySalary
Lower_Limit_MonthlySalary = Q1_MonthlySalary - 1.5*IQR_MonthlySalary
Upper_Limit_MonthlySalary = Q3_MonthlySalary + 1.5*IQR_MonthlySalary
Lower_Limit_MonthlySalary, Upper_Limit_MonthlySalary

(68000.0, 212000.0)

In [ ]:
#It was created a new_df was to determine and show null values and their percetanges.
new_df = pd.DataFrame(df.isnull().sum())
new_df.columns = ['Missing Number']
new_df['Missing Percentage'] = (new_df['Missing Number']*100)/df.shape[0]
new_df

                                         Missing Number  Missing Percentage
1
experience                                            2            1.388889
education                                             1            0.694444
location                                              0            0.000000
company_size                                          0            0.000000
job_position                                          0            0.000000
work_condition                                        0            0.000000
programming_languages                                 1            0.694444
machine_learning_libraries                            0            0.000000
age_of_data_scientist                                 1            0.694444
the_total_number_of_work_hours_per_week               3            2.083333
monthly_salary                                        3            2.083333
date                                                  0            0.000000

In [ ]:
# It was determined the experience column mean.
#Then this mean is assigned to the new variable and rounded. Then using fillna() function it was filled.
experience_mean = np.round(df['experience'].mean())
df['experience'] = df['experience'].fillna(experience_mean)

In [ ]:
# It was determined the monthly_salary column mean.
#Then this mean is assigned to the new variable and rounded. Then using fillna() function it was filled.
monthly_salary_mean = np.round(df['monthly_salary'].mean())
df['monthly_salary'] = df['monthly_salary'].fillna(monthly_salary_mean)

In [ ]:
# It was determined the the_total_number_of_work_hours_per_week column mean.
#Then this mean is assigned to the new variable and rounded. Then using fillna() function it was filled.
the_total_number_of_work_hours_per_week_mean = np.round(df['the_total_number_of_work_hours_per_week'].mean())
df['the_total_number_of_work_hours_per_week'] = np.round(df['the_total_number_of_work_hours_per_week'].fillna(the_total_number_of_work_hours_per_week_mean))

In [ ]:
# It was determined the age_of_data_scientist column mean.
# Then this mean is assigned to the new variable and rounded. Then using fillna() function it was filled.
age_of_data_scientist_mean = np.round(df['age_of_data_scientist'].mean())
df['age_of_data_scientist'] = np.round(df['age_of_data_scientist'].fillna(age_of_data_scientist_mean))

In [ ]:
# In the education column miss values was filled with using fillna() function.
# We determined the first mode in the education column and assigned to the new variable.
mode_value = df['education'].mode()[0]
df['education'].fillna(mode_value, inplace=True)

In [ ]:
# In the programming_languages column miss values was filled with using fillna() function.
# We determined the first mode in the education column and assigned to the new variable.
mode_value = df['programming_languages'].mode()[0]
df['programming_languages'].fillna(mode_value, inplace=True)

In [ ]:
print(df.info())

In [ ]:
#Cleaned dataset was assigned df to clean_data3.
clean_data3 = df

In [ ]:
#Exported the clean data to Excel.
clean_data3.to_excel("cleandata3.xlsx")

In [ ]:
#The rest of this section contains data visualization codes.

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_excel('cleandata3.xlsx')
df = df.rename(columns={'Unnamed: 0': 'id'})
mean_monthly_salary = df['monthly_salary'].mean()

In [ ]:
# Are there specific programming languages that are associated with higher salaries among data scientist ?
sns.boxplot(x=df['programming_languages'], y=df['monthly_salary'], data=df,palette='Blues')
plt.xlabel('Programming Languages')
plt.ylabel('Salary')
plt.title('Salary Distribution by Programming Language for Data Scientists')
plt.show()

In [ ]:
# Is there a correlation between the size of the company (Small, Medium, Large) and the monthly salary of data scientists?
plt.figure(figsize=(8, 6))
sns.boxplot(x=df['company_size'], y=df['monthly_salary'], data=df,palette='Blues')
plt.title('Company Size vs Monthly Salary Box Plot')
plt.xlabel('Company Size')
plt.ylabel('Monthly Salary')
plt.show()

In [ ]:
# How has the average salary of data scientists changed over the observed time period?
df['year'] = df['date'].dt.year
average_salaries = df.groupby('year')['monthly_salary'].mean()
plt.plot(average_salaries.index, average_salaries, marker='o', linestyle='-',)
plt.xlabel('Year')
plt.ylabel('Average Salary')
plt.title('Average Salary by Year')
plt.ylim(bottom = 0 , top = 180000)
plt.xticks(average_salaries.index, rotation=45)
plt.grid(True, linestyle='--', alpha=0.7)
plt.show()

In [ ]:
# What is the relationship between years of experience and the monthly salary of data scientists?
# Is there a clear pattern of salary growth with increasing experience?
sns.relplot(x='experience', y='monthly_salary', data=df, kind = "line" )
plt.title('Relationship Between Experience and Monthly Salary')
plt.xlabel('Years of Experience')
plt.ylabel('Monthly Salary')
plt.ylim(bottom = 0)
plt.show()

In [ ]:
# Does the work condition(remote,hybrid,office) have any influence on the salary of the data scientists?
sns.violinplot(x='work_condition', y='monthly_salary', data=df)
plt.xlabel('work_condition')
plt.ylabel('monthly_salary')
plt.title('Salary Distribution by Work Condition')
sns.violinplot(x='work_condition', y='monthly_salary', data=df, palette='Blues')
plt.show()